<div style="text-align: center">
  <form action="/twaddies" method="post">
  <textarea name="message" rows="5" cols="50">
    Share your Twadd...
  </textarea><br>
  <input type="submit">

</form>
</div>
