<% followees_tweets = [] %>
<h1>Your Followees' Twadds!</h1>
<% User.find(1).followees.each {|followee| followee.tweets.each {|tweet| followees_tweets << tweet}} %>
<ol>
  <% followees_tweets.each do |tweet| %>
    <li><b><%= (User.find(tweet.user_id)).username %></b>
      <p><%= tweet.content %></li></p>
  <% end %>
</ol>



<!-- params[:session][:user_id] -->
